<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.dbMoneyChangerMgtConnectionString"
            connectionString="Data Source=faruk;Initial Catalog=dbMoneyChangerMgt;Persist Security Info=True;User ID=sa;Password=Pass@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.dbMoneyChangerMgtConnectionString1"
            connectionString="Data Source=faruk;Initial Catalog=dbMoneyChangerMgt;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>